$din-font-size: 9pt;

.din_page {
    font-size: $din-font-size !important;

    &.header {
        img {
            max-height: 27mm !important;
            margin-top: 5mm !important;
        }
        .logo_left {
            float: left;
            margin-left: 5mm;
        }
        .logo_right {
            float: right;
            margin-right: 5mm;
        }
    }

    &.footer {
        .company_details {
            table {
                table-layout: auto !important;
                width: 100% !important;
                border-collapse: collapse;
            }
            td {
                white-space: nowrap;
                vertical-align: top;
            }
        }
        .page_number {
            font-size: $din-font-size !important;
            margin-right: 0 !important;
            margin-top: 0mm !important;
        }
    }

    &.invoice_note {
        h2 {
            color: #000000 !important;
            font-size: $din-font-size;
        }

        table.din_company_info > tbody > tr > td {
            vertical-align: top !important;
        }

        .address,
        .shipping_address {
            font-size: $din-font-size !important;
        }

        td .address {
            width: 100mm;

            .company_invoice_line {
                width: 80mm;
            }
            .colored_address {
                font-size: 7pt !important;
            }
        }

        .information_block {
            td {
                padding-right: 2mm;

                &:nth-child(n + 2) {
                    font-size: $din-font-size !important;
                }
            }
        }

        tr .information_block {
            width: auto !important;

            table {
                width: auto !important;

                td {
                    white-space: nowrap;
                    vertical-align: top;
                    padding-right: 3mm;
                }
            }
        }

        .page {
            width: 95%;
        }
    }
}

.o_main_table {
    thead, tbody, tfoot, tr, td, th { border-width: 1px}
}

table.o_main_table tr.o_line_section td {
    background-color: #a0a0a0 !important;
}
