.din_page.header img {
    float: left !important;
    margin-left: 5mm;
}
.din_page.footer .company_details table {
    table-layout: auto !important;
    width: 100% !important;
    border-collapse: collapse;
}
.din_page.footer .company_details td {
    white-space: nowrap;
    vertical-align: top;
}
